html, .App {
  font-size: 14px;
  background-color: #f6f8fa;
}
.navbar {
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #172b4d!important;
  box-shadow: 0 1px 10px rgba(130,130,134,.1);
}

.card-header {
  background: white;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 1.25rem + 2px);
  padding: .625rem .75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #8898aa;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #cad1d7;
  border-radius: .25rem;
  box-shadow: none;
  transition: all .2s cubic-bezier(.68,-.55,.265,1.55);
}

.form-control:focus {
  color: #8898aa;
  background-color: #fff;
  border-color: rgba(50,151,211,.25);
  outline: 0;
  box-shadow: none,none;
  outline: none; 
}

.btn {
  display: inline-block;
  font-weight: 600;
  color: #525f7f;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: initial;
  border: 1px solid transparent;
  padding: .625rem 1.25rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: all .15s ease;
}

.btn-primary {
  color: #172b4d;
  border-color: #172b4d;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #172b4d !important;
}

.card {
  box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
  border: none;
}
.btn {
  font-size: 12px;
  padding: 6px 12px;
}
.table th, .table td {
  line-height: 30px;
  padding: 0.5rem 0.75rem !important;
}